modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["unrar"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BeDAO-ho Next.js App"

[[workflows.workflow]]
name = "BeDAO-ho Next.js App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000"
waitForPort = 5000

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33765
externalPort = 3001

[[ports]]
localPort = 35969
externalPort = 4200

[[ports]]
localPort = 39147
externalPort = 5000

[[ports]]
localPort = 43569
externalPort = 3002

[[ports]]
localPort = 46751
externalPort = 3003

[agent]
expertMode = true
