[nix]
channel = "stable-24_05"

[deployment]
build = "./build-deploy.sh"
run = "npm start"
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 80

[env]
NODE_ENV = "production"
NPM_CONFIG_LEGACY_PEER_DEPS = "true"
REPLIT_DISABLE_PACKAGE_LAYER = "true"
NPM_CONFIG_FORCE = "true"
NPM_CONFIG_UPDATE_NOTIFIER = "false"